[mysqld]
port = 3306
socket = /run/mysqld/mysqld.sock
skip-networking = 0
skip-bind-address
user = mysql

# Enable logging
log_error = /var/log/mysql/error.log
general_log_file = /var/log/mysql/general.log
general_log = 1
